<br/><br/><br/>
<h1>Demon user</h2>

<div class="btn-group">
<!--  <a href="" class="btn btn-navbar" ng-click="setSideBar()"><i class="fa fa-bug"></i> View SideBar</a> -->
  <a href="" class="btn btn-navbar" ng-click="callServerRESTAPI(1)"><i class="fa fa-cogs"></i> Call REST API</a>
  <a href="" class="btn btn-navbar" ng-click=""> </a>
  <a href="" class="btn btn-navbar" ng-click="searchTheLab(2)"><i class="fa fa-building fa-navbar"></i> Search Lab 2nd Floor</a>
  <a href="" class="btn btn-navbar" ng-click="searchTheLab(3)"><i class="fa fa-building fa-navbar"></i> Search Lab 3rd Floor</a>
  <a href="" class="btn btn-navbar" ng-click=""> </a>
  <span id="temp"><img class="btn btn-navbar" ng-src="/images/temp.png"></img>{{temp}}&#8451;</span>
  <span id="humd"><img class="btn btn-navbar" ng-src="/images/humd.png"></img>{{humd}}</span>
  <span id="demidog"><img class="btn btn-navbar" ng-src="/images/motion.png"></img># {{demidog}}</span>
</div>

<div>
  <p>Your curiosity knows no bounds....but that might lead you into an early grave.  Let's see.....</p>
</div>
<img src="images/stranger-things-eleven.jpg" height="50%" width="50%"/>
<br/><br/><br/>
<div class="center">
  <a class="btn btn-default" ng-click="searchTheLab(4)"><i class="fa fa-less"></i> Search Lab 4th Floor</a>
  <a class="btn btn-default" ng-click="searchTheLab(5)"><i class="fa fa-more"></i> Search Lab 5th Floor</a>
</div>
